/* *{
    border: 1px solid navy;
} */

.container-1{

    margin: 10rem;
}
/* .container-board{
    border: 1px solid black;
   
} */

.container-board-inner{
    background-color:grey;
    border-radius: 50%;
    /* margin: 1.5em; */
    padding: 1.5em;
    white-space: nowrap;
}